/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', sans-serif;
    --main-text-weight: 400;
    --headers-text-weight: 700;
    --background-color: #FFFFFF;
    --accent-color: #000000;
    --first-gradient-color: #d3d3d3;
    --second-gradient-color-1: #e7e7e7;
    --second-gradient-color-2: #1a1a1a;
    --max-content-width: 700px;
    --text-shadow: #FFFFFF;
    --floppy-color: #000;
}